/* the animation code */
@keyframes divcolor{
    
}

}

*/ the element to apply the animation to */
div {
    width: 100px;
    height: 100px;
    background-color:  red;
    animation-name: animatedsquare;
    animation-duration:  4s;
    animation-iteration-count: infinite;
}